* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --black: #000000;
    --lightblack: #333333;
    --primary: #010080;
    --secondary: #71b201;
    --white: #fff;
    --lightwhite: #e0faff;
    --lightwhite02: #f6f6f6;
    --grey: #666666;
    --lightgrey: #e5e5e5;
    --radius: 120px;
    --radius01: 80px;
    --radius02: 160px;
    --radius03: 140px;
    --radius04: 40px;
    --md-font: 20px;
    --small-font: 18px;
    --lg-font: 40px;
    --xl-font: 50px;
    --cardColor01: #dc5806;
    --cardColor02: #4aa1b1;
    --cardColor03: #fff3d8;
    --cardColor04: #ce8e02;
    --cardColor05: #fbe3d0;
}
body {
    font-family: "Duddy";
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.container-fluid {
    max-width: 1665px;
    margin: auto;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.featureCardtxt {
    text-align: center;
}
/* -- ---------------Banner section------------- -- */
.banner {
    background-image: url("../image/banner.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: 876px;
}
.navbar {
    width: 100%;
    padding: 20px 0 10px;
}
.nav {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.nav ul {
    display: flex;
    align-items: center;
}
.lnr {
    font-size: 23px;
}
.search-icon .lnr {
    font-size: 22px;
    display: block;
}
.phone {
    display: flex;
    align-items: center;
}
.nav ul li a {
    font-size: var(--md-font);
    line-height: 75px;
    color: var(--black);
    font-weight: 500;
}
.nav-left .lnr {
    font-size: var(--md-font);
    padding-right: 8px;
}
.nav-right {
    display: flex;
    max-height: 75px;
}
.nav-left ul li,
.nav-right ul li {
    margin: 0 35px;
}
.nav-center {
    position: relative;
}
.nav-center::after {
    content: "";
    width: 360px;
    height: 325px;
    background: rgb(255, 255, 255);
    position: absolute;
    border-radius: 50%;
    bottom: -60%;
    left: -21%;
    box-shadow: rgba(255, 255, 255, 0.33) 7px 10px 0px 0px;
}
.nav-right .icons li {
    margin: 0px 20px;
}
.nav-right .icons li:last-child {
    margin-right: 5px;
}
.nav-center img {
    position: relative;
    z-index: 1;
    left: 5%;
    bottom: 5%;
}
.nav-left ul li:first-child {
    padding-right: 50px;
    margin-left: 0;
}
.cart {
    position: relative;
}
.count {
    position: absolute;
    font-size: 14px;
    top: -9px;
    right: -5px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: var(--secondary);
    border: 3px solid var(--secondary);
    color: var(--white);
}
.banner-left {
    max-width: 50%;
}
.banner-box {
    display: flex;
    align-items: center;
}
.banner-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
}
.baanertext-inner {
    max-width: 515px;
    margin-bottom: 45px;
    padding-top: 105px;
}
.baaner-product {
    margin-left: 115px;
}
.heading {
    font-size: 60px;
    line-height: 70px;
    color: var(--primary);
    font-weight: 900;
}
.sub-heading {
    font-size: 28px;
    line-height: 36px;
    color: #111111;
    margin: 10px 0px 30px;
}
.icons {
    margin-left: 20px;
}
.btn {
    min-width: 150px;
    padding: 12px 20px;
    font-size: var(--md-font);
    letter-spacing: 0px;
    line-height: 36px;
    color: var(--white);
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    border: none;
    font-family: "Duddy-Normal";
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: inline-block;
}
.primarybtn {
    background-color: var(--secondary);
    all: 0.3s;
}
.primarybtn:hover {
    background-color: var(--primary);
}
/* -- ---------------Our Product section------------- -- */
.container {
    max-width: 1170px;
    margin: auto;
}
.product-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 110px;
    padding-bottom: 140px;
}
.pcard {
    max-width: 511px;
    margin-bottom: 45px;
    position: relative;
    border-bottom-left-radius: var(--radius);
    min-height: 100%;
    width: 100%;
    padding-bottom: 90px;
}
.pcard-box {
    position: relative;
    z-index: 1;
}
.pcardtxt {
    padding: 40px 50px 152px 50px;
    border-bottom-left-radius: var(--radius);
    height: 100%;
}
.pcard img {
    position: absolute;
    bottom: -16%;
    left: 5%;
    z-index: 0;
}
.pitem-one .pcardtxt {
    background-color: #fee6d2;
}
.pitem-two .pcardtxt {
    background-color: #f2ffd9;
}
.pitem-three .pcardtxt {
    background-color: var(--lightwhite);
}
.pitem-four .pcardtxt {
    background-color: var(--cardColor03);
}
.title {
    font-size: var(--xl-font);
    line-height: 70px;
    color: rgb(51, 51, 51);
    text-align: center;
    z-index: 18;
    position: relative;
    padding: 80px 0;
    font-weight: 900;
    text-transform: uppercase;
}
.our-product {
    padding-top: 140px;
}
.pcardtxt P {
    font-size: var(--lg-font);
    line-height: 48px;
    text-transform: uppercase;
    font-weight: bold;
}
.price {
    font-size: 28px;
    line-height: normal;
    text-transform: uppercase;
    color: var(--lightblack);
    font-weight: bold;
    display: block;
    margin: 13px 0 22px;
}
.secondarybtn {
    background-color: var(--primary);
    padding: 7px 31px;
    transition: all 0.3s;
}
.pitem-one .pcardtxt p {
    color: var(--cardColor01);
}
.pitem-two .pcardtxt p {
    color: #74a123;
}
.pitem-three .pcardtxt p {
    color: var(--cardColor02);
}
.pitem-four .pcardtxt p {
    color: var(--cardColor04);
}
.pcard.pitem-one .secondarybtn:hover {
    background: var(--cardColor01);
}
.pcard.pitem-two .secondarybtn:hover {
    background: #74a123;
}
.pcard.pitem-three .secondarybtn:hover {
    background: var(--cardColor02);
}
.pcard.pitem-four .secondarybtn:hover {
    background: var(--cardColor04);
}
/* -- ---------------About Us section------------- -- */
.about-us {
    background-image: url("../image/about-us.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    padding: 50px 0;
}
.about-us {
    position: relative;
}
.aboutus-box {
    max-width: 600px;
    background-color: rgba(1, 0, 128, 0.9);
    border-bottom-right-radius: var(--radius03);
    margin-left: auto;
}
.about-content {
    padding: 56px 60px;
}
.abouttxt p {
    font-size: var(--md-font);
    line-height: 30px;
    color: #d1d1e5;
}
.abouttxt h2 {
    font-size: var(--xl-font);
    line-height: 56px;
    text-transform: uppercase;
    color: var(--white);
    font-weight: 900;
    padding-bottom: 20px;
    font-family: "Duddy-Normal";
}
.about-icons ul {
    display: flex;
    flex-wrap: wrap;
}
.about-icon {
    width: 34px;
}
.about-icons ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 50%;
    font-size: var(--md-font);
    color: #d1d1e5;
    padding: 12px 0;
    line-height: 0;
}
.about-icons {
    max-width: 400px;
    padding-top: 20px;
}
/* -- ---------------Testimonials section------------- -- */
.testimonial-box {
    padding: 50px 60px 60px;
    flex-basis: calc(50% - 15px);
}
.box-1 {
    border-bottom-right-radius: var(--radius01);
    background-color: var(--cardColor05);
}
.box-1 .rating li i {
    color: var(--cardColor01);
}
.testimonial-content p {
    font-size: var(--md-font);
    line-height: 30px;
    color: var(--lightblack);
    padding: 25px 0 15px 0;
}
.box-2 {
    border-bottom-left-radius: var(--radius01);
    background: var(--lightwhite);
}
.testimonial-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.rating ul {
    display: flex;
    padding-bottom: 12px;
}
.box-2 .rating li i {
    color: #49a1b1;
}
.rating span {
    font-size: var(--md-font);
    line-height: normal;
    color: var(--lightblack);
    font-weight: bold;
}
.dots span {
    width: 15px;
    height: 4px;
    border-radius: 2px;
    background-color: #c7c7e3;
}
.dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 100px 0;
    width: 100%;
}
.dots .active {
    width: 35px;
    height: 4px;
    background-color: var(--primary);
    border-radius: 2px;
}
/* -- ---------------Support section------------ -- */
.support {
    padding-bottom: 100px;
}
.supportContent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cardColor03);
    padding: 30px 60px;
    border-bottom-right-radius: var(--radius01);
}
.supportlogo {
    padding: 20px 30px;
    background: var(--white);
    border-bottom-right-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.supporttxt span {
    font-size: var(--lg-font);
    line-height: 50px;
    text-transform: uppercase;
    color: var(--lightblack);
    font-weight: bold;
    padding: 0 60px;
    display: block;
}
/* -- ---------------Instagram section------------- -- */
.instagram {
    background-color: #f4f2f0;
    padding: 100px 0 10px 0;
}
.instalogo {
    text-align: center;
}
.insta.card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.instalogo .title {
    padding: 20px 0 85px;
}
/* -- ---------------Footer section------------- -- */
.footer-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}

.footer-content ul li a {
    font-size: var(--small-font);
    line-height: 40px;
    color: var(--grey);
}

.titl {
    font-size: 22px;
    line-height: 34px;
    color: var(--primary);
    font-weight: bold;
    padding-bottom: 10px;
}
.footer-content input {
    max-width: 270px;
    width: 100%;
    padding: 13px 15px;
    border: none;
    background-color: #f4f2f0;
}
.footer-content input::placeholder {
    font-size: 16px;
    line-height: 40px;
    color: var(--grey);
    font-weight: normal;
    font-family: "Duddy-Normal";
}
.footer-content .btn {
    padding: 4px 20px;
    margin-left: auto;
    margin-top: 10px;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 36px;
    text-transform: uppercase;
    color: var(--white);
}
.social-icon {
    display: flex;
    gap: 20px;
    align-items: center;
}
.social-icon li i {
    font-size: var(--md-font);
}
.fb i {
    color: #3a5596;
}
.twitter i {
    color: #488be3;
}
.insta i {
    color: #de404a;
}
.linkdln i {
    color: #0274ad;
}
.footer-bootom {
    border-top: 1px solid #e7e7e7;
}
.footer-top {
    padding: 57px 0 47px 0;
}
.footer-bottom-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.footer-bottom-content ul {
    display: flex;
    gap: 10px;
}
.footer-content p {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: var(--small-font);
    line-height: 24px;
    color: var(--grey);
    font-weight: normal;
    max-width: 240px;
}
.foologo img {
    max-width: 170px;
}
.readmore {
    color: var(--secondary);
    cursor: pointer;
}
.news li p {
    font-size: 16px;
    line-height: 22px;
    color: #868686;
}
.news button {
    float: right;
}
.news p {
    max-width: 260px;
}
.footer-bottom-content p {
    font-size: 16px;
    line-height: 22px;
    color: #868686;
}
/* -- ---------------About Us page css------------- -- */
.inner-page .navbar {
    background-color: var(--lightwhite02);
    padding: 0;
    max-height: 80px;
}
.inner-page .nav-center::after {
    width: 311px;
    height: 255px;
    bottom: -44%;
    left: -33%;
    box-shadow: rgb(255 255 255 / 33%) 5px 8px 0px 0px;
}
.product-detail-page .nav-center::after {
    filter: drop-shadow(1.315px 2.696px 10.5px rgba(0, 0, 0, 0.03));
}
.inner-page .nav-center img {
    position: relative;
    z-index: 1;
    left: 2%;
    bottom: -7%;
    max-width: 180px;
}
.inner-banner {
    position: relative;
    background-image: url("../image/aboutbanner.png");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    z-index: -1;
}
.inner-banner::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 0, 128, 0.77);
    top: 0;
    z-index: -2;
}
.inner-banner-txt {
    z-index: 1;
    position: relative;
    padding: 100px 0 60px;
}
.main-heading {
    font-size: var(--xl-font);
    line-height: 40px;
    text-transform: uppercase;
    color: var(--white);
    text-align: center;
    font-weight: 900;
}
.icons {
    display: flex;
    align-items: center;
}
.breadcrumb {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 22px;
}
.breadcrumb li + li {
    padding-left: 10px;
}
.breadcrumb li,
.breadcrumb li a {
    font-size: var(--md-font);
    color: #8f8fc7;
    text-align: center;
    margin: 0;
    font-weight: 500;
}
li.us {
    color: #d1d1e5;
}
/* -- ---------------About Us page >>Who we are section------------- -- */
.aboutContentTop-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.aboutContent-left {
    max-width: 550px;
    border-bottom-right-radius: var(--radius02);
    width: 100%;
}
.aboutContent-right {
    max-width: 550px;
    width: 100%;
}
.aboutContent-right h2 {
    font-size: var(--lg-font);
    line-height: normal;
    text-transform: uppercase;
    color: var(--lightblack);
    font-weight: bold;
    margin: 0;
    padding: 9px 0 15px;
}
.aboutContent-right p {
    font-size: var(--md-font);
    line-height: 30px;
    color: var(--grey);
    margin: 0;
    max-width: 500px;
}
.aboutContent-right ul li span {
    font-size: var(--md-font);
    line-height: 26px;
    color: var(--grey);
}
.aboutContent-right ul li img {
    position: relative;
    top: 7px;
}
.aboutContent-right ul li:not(:last-child) {
    margin-bottom: 12px;
}
.aboutContent-right ul li {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.aboutContent-box {
    padding: 100px 0 120px;
}
.aboutContentTop-box:nth-child(even) {
    flex-direction: row-reverse;
}
.aboutContentTop-box:nth-child(even) .aboutContent-right {
    padding: 0;
}
.aboutContentTop-box:not(:last-child) {
    padding-bottom: 80px;
}
.missiontxt {
    padding-bottom: 30px;
}
.aboutContent-right ul {
    padding-top: 20px;
}
.aboutContent-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-right-radius: var(--radius02);
}
/* -- ---------------Food feature section------------- -- */
.food-feature {
    background-image: url("../image/food.png");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    padding: 100px 0;
    position: relative;
    z-index: 9;
}
.food-feature::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(40, 40, 57, 0.9);
    top: 0;
    z-index: -2;
}
.food-featureCards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 70px;
    flex-wrap: wrap;
}
.food-featureCard {
    flex-basis: 33.33%;
}
.food-featureContent .title {
    font-size: var(--xl-font);
    line-height: 40px;
    text-transform: uppercase;
    color: var(--white);
    font-weight: bold;
    text-align: center;
    padding: 0;
}
.featurecardlogo {
    position: relative;
}
.imgicon {
    position: absolute;
    width: 55px;
    height: 41px;
    border-top-left-radius: 24px;
    border-bottom-right-radius: 24px;
    background-color: #3e404b;
    left: 37%;
    bottom: 0;
    z-index: -1;
}
.featuretxt {
    color: #9494b4;
    font-size: 22px;
    text-align: center;
    padding-top: 20px;
}
.featureCardtxt P {
    font-size: var(--small-font);
    line-height: 26px;
    color: #9494b4;
    font-family: "Duddy";
    text-align: center;
    padding-top: 10px;
    max-width: 289px;
    margin: auto;
}
.featureCardtxt h3 {
    font-size: 26px;
    line-height: 34px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 25px;
}
.food-featureCard:first-child .featureCardtxt h3 {
    color: var(--cardColor01);
}
.food-featureCard:nth-child(2) .featureCardtxt h3 {
    color: var(--secondary);
}
.food-featureCard:nth-child(3) .featureCardtxt h3 {
    color: #5db8c9;
}
/* -- ---------------Testimonials page css------------- -- */
.inner-page .testimonial-content {
    padding-top: 100px;
}
.inner-page .testimonial-box {
    margin-bottom: 50px;
}
.testimonial-box.box-3 {
    background-color: #f6fcea;
    border-bottom-right-radius: var(--radius01);
}
.testimonial-box.box-3 .rating li i {
    color: var(--secondary);
}
.testimonial-box.box-4 {
    background-color: #ededfc;
    border-bottom-left-radius: var(--radius01);
}
.testimonial-box.box-4 .rating li i {
    color: var(--primary);
}
.pagination {
    padding: 50px 0 100px;
}
.pagination ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4px;
    width: 53px;
    height: 51px;
}
.pagination ul .active {
    background-color: #f4f2f0;
    border-bottom-right-radius: 24px;
    border-top-left-radius: 24px;
}
.pagination ul .active a {
    color: var(--lightblack);
    opacity: 1;
}
.pagination ul li a {
    padding: 10px;
    font-size: 22px;
    color: var(--lightblack);
    font-weight: 500;
    opacity: 0.4;
    all: 0.3s;
}
.pagination ul li a:hover {
    opacity: 1;
}
/* -- ---------------Contact Us page------------- -- */
.contact-info {
    padding: 100px 0;
}
.contect-infoContent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact-info .address:first-child {
    background-color: var(--cardColor05);
}
.contact-info .address:nth-child(2) {
    background: var(--lightwhite);
}

.contact-info .address:last-child {
    background: var(--cardColor03);
}

.contact-info .address:first-child h3 {
    color: var(--cardColor01);
}
.contact-info .address:nth-child(2) h3 {
    color: var(--cardColor02);
}

.contact-info .address:last-child h3 {
    color: var(--cardColor04);
}
.address {
    padding: 40px 65px;
    border-bottom-right-radius: var(--radius);
    flex-basis: calc(33.33% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.address p,
.address p a {
    font-size: var(--md-font);
    color: var(--lightblack);
    text-align: center;
    line-height: 25px;
}
.address h3 {
    font-size: 24px;
    line-height: 34px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}
.get-in-touch {
    padding-bottom: 100px;
}
.get-in-touchContent {
    display: flex;
    justify-content: space-between;
}
.form .btn {
    padding: 7px 20px;
    min-width: 330px;
    float: right;
}
.getin-touchForm .title {
    padding: 0;
    text-align: left;
    font-weight: bold;
}
.getin-touchForm input {
    background: #f4f2f0;
    border: none;
    width: 100%;
    padding: 18px 20px;
}
.getin-touchForm p {
    font-size: var(--md-font);
    line-height: 30px;
    color: var(--grey);
    font-family: "Duddy";
    padding: 6px 0 25px;
}
.getin-touchForm input::placeholder,
textarea::placeholder {
    font-size: var(--small-font);
    letter-spacing: 0px;
    line-height: 30px;
    color: var(--grey);
    font-weight: 300;
    font-family: "Duddy";
}
textarea {
    width: 100%;
    border: none;
    background: #f4f2f0;
    padding: 10px 20px;
}
.formrow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.get-in-touch-left iframe {
    max-width: 370px;
    border-bottom-right-radius: var(--radius);
    width: 100%;
    height: 550px;
}
.get-in-touch-right {
    width: 100%;
    padding-left: 70px;
}
.get-in-touch-left {
    max-width: 370px;
    width: 100%;
}
.formcol {
    max-width: calc(50% - 15px);
    width: 100%;
}
/* -- ---------------Product Details page------------- -- */
.product-detail-page .our-product,
.product-detail-page .product-cards {
    padding: 0;
}
.product-detail-page .our-product {
    background-color: var(--lightwhite02);
}
.product-details {
    padding: 70px 0 100px;
}
.productContent {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.product-details .breadcrumb ul {
    display: flex;
}
.product-details .breadcrumb ul li a {
    font-size: 18px;
    line-height: 40px;
    color: #bbbbbb;
    font-weight: 400;
    font-family: "Duddy";
}
.product-details .breadcrumb ul .active a {
    color: var(--grey);
    font-weight: 500;
}
.product-details .breadcrumb {
    justify-content: left;
    padding: 0;
    padding-bottom: 5px;
}
.product-title h2 {
    font-size: 40px;
    line-height: 46px;
    text-transform: uppercase;
    color: var(--cardColor01);
    font-weight: bold;
    max-width: 400px;
}
.product-price h3 {
    font-size: 28px;
    color: var(--lightblack);
    padding-right: 40px;
}
.fa-heart {
    color: #d4d3d3;
    font-size: 22px;
    line-height: 40px;
}
.product-price .rating i {
    color: var(--cardColor01);
}
.product-short-description p {
    font-size: var(--md-font);
    line-height: 30px;
    color: var(--grey);
    margin-bottom: 14px;
}
.product-status li {
    font-size: 16px;
    color: var(--grey);
    font-weight: 500;
}
.product-subimg {
    display: flex;
}
.productContent-left {
    max-width: 550px;
    width: 100%;
}

.productContent-right {
    max-width: 550px;
    width: 100%;
}
.product-img {
    background-color: #fbe3d0;
    border-bottom-right-radius: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 75px;
}
.price-wrapper {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--lightgrey);
    border-bottom: 1px solid var(--lightgrey);
    padding: 21px 0;
    align-items: center;
    margin: 23px 0 30px;
}
.product-short-description span {
    font-size: var(--md-font);
    line-height: 50px;
    color: var(--grey);
}
.product-wrapper-btn {
    display: flex;
    gap: 20px;
}
.Quantity li {
    font-size: var(--md-font);
    line-height: normal;
    color: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
}
.Quantity li:first-child {
    font-size: 36px;
}
.Quantity li:nth-child(2) {
    font-weight: 600;
}
.Quantity li:last-child {
    font-size: 26px;
}
.Quantity {
    display: flex;
    background: #f4f2f0;
    min-width: 150px;
    padding: 4px 20px;
    justify-content: space-between;
}
.product-wrapper-btn .btn {
    min-width: 200px;
}
.product-title {
    display: flex;
    justify-content: space-between;
}
.product-price li:last-child {
    color: #999999;
    font-size: 15px;
    padding-left: 10px;
}
.product-subimg div {
    background: var(--lightwhite02);
    width: calc(33.33% - 10px);
    margin: 20px 0 0 20px;
    border-bottom-right-radius: var(--radius04);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 110px;
}
.sharing-icon {
    border-top: 1px solid var(--lightgrey);
    border-bottom: 1px solid var(--lightgrey);
    margin: 35px 0;
    padding: 25px 0;
}
.shipping-status span {
    font-size: 18px;
    color: var(--grey);
    padding-left: 5px;
}

.shipping-status i {
    color: var(--cardColor01);
}
.sharing-icon li:first-child {
    font-size: 18px;
    color: var(--grey);
}
.product-subimg div:first-child {
    margin-left: 0px;
    background: #fce3d1;
    border: 1px solid #e1591c;
}
.product-subimg img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
}
.product-status ul li {
    position: relative;
}
.product-status ul li:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: var(--secondary);
    border-radius: 50%;
    left: -15px;
    top: 6px;
}
.wishlist {
    padding-top: 10px;
}
/* -- ---------------description Tabs section------------- -- */
.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.tabs li {
    background: none;
    display: inline-block;
    padding: 10px 35px;
    cursor: pointer;
    font-size: 24px;
    line-height: 34px;
    text-transform: uppercase;
    color: #bbbbbb;
    font-weight: 500;
    font-family: "Duddy";
}
.tabs li.current {
    color: #222;
    font-weight: 600;
}
.tab-content {
    display: none;
    padding-top: 30px;
    border-top: 1px solid var(--lightgrey);
    font-size: var(--md-font);
    line-height: 30px;
    color: var(--grey);
}
.tabs li:first-child {
    padding-left: 0;
}
.tab-content.current {
    display: inherit;
}
.description-tabs {
    padding-bottom: 100px;
}
/* -- ---------------Blog Posts page------------- -- */
.blogs {
    padding-top: 100px;
}
.blogContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.blogContent-boxes {
    max-width: 570px;
    border-bottom-right-radius: 80px;
    margin-bottom: 50px;
}
.blog-1 {
    background-color: #fbe3d0;
}
.blog-title h3 {
    font-size: 30px;
    line-height: 38px;
    color: var(--lightblack);
    font-weight: bold;
    font-family: "Duddy";
}
.blogwritter-detail {
    display: flex;
    align-items: center;
    margin: 18px 0;
}
.blog-description p {
    font-size: var(--md-font);
    color: var(--lightblack);
    line-height: 30px;
}
.blogContent-bottom {
    padding: 25px 36px 33px;
}
.blogwritter-detail div span {
    font-size: 16px;
    color: var(--grey);
    padding-left: 5px;
    margin-right: 30px;
}
.blog-1 .blog-description p span {
    color: #dc5806;
}
.blog-2 .blog-description p span {
    color:var(--cardColor02);
}
.blog-3 .blog-description p span {
    color:var(--secondary);
}
.blog-4 .blog-description p span {
    color: var(--primary);
}
.blog-1 .blogwritter-detail i {
    color: #dc5806;
}
.blog-2 {
    background: #e0faff;
}

.blog-2 .blogwritter-detail i {
    color:var(--cardColor02);
}
.blog-3 {
    background-color: #f6fcea;
}

.blog-3 .blogwritter-detail i {
    color:var(--secondary);
}

.blog-4 {
    background-color: #ededfc;
}

.blog-4 .blogwritter-detail i {
    color: var(--primary);
}
/* ------------------------Blog Details page------------------ */
.blog-details .blogContent-boxes {
    max-width: 100%;
}
.blog-details .blogContent-top img {
    width: 100%;
    height: 100%;
}
.blog-details .blog-description p + p {
    margin-top: 15px;
}
.blog-details .blogContent-bottom {
    padding: 28px 43px 33px 52px;
}
.blog-details .sharing-icon {
    margin: 0;
    padding: 27px 0 16px;
}
.blog-details .sharing-icon li:first-child {
    font-size: var(--md-font);
    font-weight: 600;
    color: var(--lightblack);
}
.blog-details .get-in-touch-right {
    padding: 25px 45px 100px;
}

.comments-box {
    background: var(--lightwhite02);
    border-bottom-right-radius: var(--radius01);
}
.blog-details .getin-touchForm input,
.blog-details textarea {
    font-size: 18px;
    background-color: var(--white);
}
.comments-box input::placeholder,
.blog-details textarea::placeholder {
    font-size: var(--md-font);
    color: var(--grey);
}
.comments-box .getin-touchForm .title {
    padding: 0;
    text-align: left;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 18px;
}
.comments-box .formrow {
    margin-bottom: 23px;
}
.comments-box .form .btn {
    min-width: 220px;
}
.review-box {
    width: 100%;
    display: flex;
    margin-top: 45px;
    justify-content: space-between;
}
.review-center h4 {
    font-size: var(--md-font);
    color: var(--lightblack);
    font-weight: 700;
}
.review-center p {
    font-size: 18px;
    color: var(--grey);
    line-height: 25px;
    margin: 18px 0;
}
.reviewsContent {
    margin-left: 45px;
}
.review-right span {
    font-size: 16px;
    color: #999999;
    white-space: nowrap;
}
.review-center {
    margin-left: 20px;
}
.likes {
    display: flex;
}
.likes li i {
    color: var(--cardColor01);
}
.likes li + li {
    padding-left: 45px;
}
.reviews {
    padding: 42px 0 100px;
}
/* -- ---------------Home page Responsiveness------------- -- */
@media (max-width: 1600px) {
    .container-fluid {
        max-width: 1600px;
        padding: 0 30px;
        margin: auto;
    }
    .nav-left ul li:first-child {
        padding-right: 28px;
    }
    .nav-left ul li,
    .nav-right ul li {
        margin: 0 23px;
    }
    .icons {
        margin-left: 15px;
    }
    .nav-right .icons li {
        margin: 0px 15px;
    }
}
@media (max-width: 1440px) {
}
